<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>ToDo App</title>
</head>

<body>
    <h1 class="heading">Todo App</h1>
    <div class="container">
        
        <form class="addTodo" action="addTodo" method="POST">
            
            <!-- description -->

            <div class="description">
                <div class="col-1-of-1">
                    <p class="descrip-word">Description</p>
                    <input type="text" id="descript-input" name="description" placeholder="Descript your task">
                </div>

            </div>

            <!-- category -->

            
                <div class="category">
                    <p>Category</p>
                    <select name="category" class="under-category">
                        <option selected>Choose...</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <!-- dueDate -->
                
                <div class="due-date">
                    <p>Due date</p>
                    <input type="date" name="dueDate" class="date-input">
                </div>
            

            <div class="button">
                <button type="submit" class="submit-buttton"><i class="fas fa-plus"></i> ADD TASK</button>
                <button type="submit" formaction="/deleteTodo" class="delete-button"><i class="fas fa-trash"></i> DELETE TASK</button>
            </div>
            <ul class="list">
                <% for(let i=0;i<todos.length;i++) { %>
                <li class="todo">
                    <input class="check" type="checkbox" name="id" value="<%= todos[i]._id %>" />
                    <span class="todo-description">
                        <%= todos[i].description %>
                    </span>
        
                    <span class="todo-dueDate">
                        <i class="far fa-calendar-alt"></i>
                        <%= month[todos[i].dueDate.getMonth()] %> <%= todos[i].dueDate.getDate() %>,
                        <%= todos[i].dueDate.getFullYear() %>
                    </span>

                    <span class="todo-category">
                        <%= todos[i].category %>
                    </span>
                </li>
                <% } %>
            </ul>

        </form>
    </div>


</body>

</html>